<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <title>Producción planta Tepetates</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleHome.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/Armasel_icon.jpg') }}" type="image/x-icon" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <!-- Google fonts - Popppins for copy-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
        <!-- orion icons-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/orionicons.css') }}">
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.default.css') }}" id="theme-stylesheet">
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    </head>
    <body>
         <!-- Header -->
        <header>
          <nav class="navbar navbar-dark bg-dark">
              <a class="navbar-brand">
                  <img src="{{ url_for('static', filename='images/Armasel_icon.jpg') }}" width="30" height="42" class="d-inline-block align-middle" alt="" >
                  <font color="white">Armasel planta Tepetates</font>
              </a>
              <nav class="navbar navbar-expand-lg px-4 py-2 bg-dark shadow">
                  <a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead">
                      <i class="fas fa-align-left"></i>
                  </a>
              </nav> 
              <button style="float: right; color:lightgray; border-color: lightgray;" onclick="window.location.href='/logout'" type="button" class="btn btn-outline-primary">Cerrar sesión</button>    
          </nav>
        </header>
        <!-- Main Frame -->
        <div class="d-flex align-items-stretch">
            <!-- Sidebar -->
            <div id="sidebar" class="sidebar py-3">
                <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Datos</div>
                <ul class="sidebar-menu list-unstyled">
                    <li class="sidebar-list-item"><a href="{{ url_for('home')}}" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Tabla general</span></a></li>
                    <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#machines" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Máquinas</span></a>
                      <div id="machines" class="collapse">
                        <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                          <li class="sidebar-list-item"><a href="{{ url_for('MG320')}}" class="sidebar-link text-muted pl-lg-5">MG320</a></li>
                          <li class="sidebar-list-item"><a href="{{ url_for('PG12')}}" class="sidebar-link text-muted pl-lg-5">PG12</a></li>
                          <!-- <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">EVG</a></li> -->
                          <li class="sidebar-list-item"><a href="{{ url_for('Jager')}}" class="sidebar-link text-muted pl-lg-5">Jager</a></li>
                          <li class="sidebar-list-item"><a href="{{ url_for('Schlatter_1')}}" class="sidebar-link text-muted pl-lg-5">Schlatter 1</a></li>
                          <li class="sidebar-list-item"><a href="{{ url_for('Schlatter_4')}}" class="sidebar-link text-muted pl-lg-5">Schlatter 4</a></li>
                          <li class="sidebar-list-item"><a href="{{ url_for('Schlatter_5')}}" class="sidebar-link text-muted pl-lg-5">Schlatter 5</a></li>
                          <!-- <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted pl-lg-5">Schlatter 6</a></li> -->
                          <li class="sidebar-list-item"><a href="{{ url_for('Schlatter_7')}}" class="sidebar-link text-muted pl-lg-5">Schlatter 7</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="sidebar-list-item"><a href="{{ url_for('record')}}" class="sidebar-link text-muted"><i class="o-table-content-1 mr-3 text-gray"></i><span>Récord anual</span></a></li>                    
              <!-- </ul>
              <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">Altas</div>
              <ul class="sidebar-menu list-unstyled">
                    <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-paperwork-1 mr-3 text-gray"></i><span>Alta operador</span></a></li>
                    <li class="sidebar-list-item"><a href="#" class="sidebar-link text-muted"><i class="o-paperwork-1 mr-3 text-gray"></i><span>Alta producto</span></a></li>
              </ul> -->
            </div>
            <!-- Content -->
            <div class="page-holder w-100 d-flex flex-wrap">
              <div class="container-fluid px-xl-5">
                <!-- Table -->
                {% block body %}
                <section class="py-5">
                  <div class="row">
                    <div class="col-lg-6 mb-4">
                      <div class="card" style="width:850px">
                        <div class="card-header">
                          <h6 class="text-uppercase mb-0"><center>Electrosoldadoras</center></h6>
                        </div>
                        <div class="card-body">
                          <table class="table card-text">
                            <thead>
                              <tr>
                                <th>Máquina</th>
                                <th>Hora de inicio</th>
                                <th>Tiempo en paro</th>
                                <th>Número de paros</th>
                                <th>Velocidad (GPM)</th>
                                <th>Golpes</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">MG320</th>
                                    <td id="starttimeMG320"></td>
                                    <td id="stoptimeMG320"></td>
                                    <td id="stopsMG320"></td>
                                    <td id="velMG320"></td>
                                    <td id="hitsMG320"></td>
                                </tr>                              
                                <tr>
                                    <th scope="row">PG12</th>
                                    <td id="starttimePG12"></td>
                                    <td id="stoptimePG12"></td>
                                    <td id="stopsPG12"></td>
                                    <td id="velPG12"></td>
                                    <td id="hitsPG12"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Jager</th>
                                    <td id="starttimeJager"></td>
                                    <td id="stoptimeJager"></td>
                                    <td id="stopsJager"></td>
                                    <td id="velJager"></td>
                                    <td id="hitsJager"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Schlatter 1</th>
                                    <td id="starttimeSchlatter1"></td>
                                    <td id="stoptimeSchlatter1"></td>
                                    <td id="stopsSchlatter1"></td>
                                    <td id="velSchlatter1"></td>
                                    <td id="hitsSchlatter1"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Schlatter 4</th>
                                    <td id="starttimeSchlatter4"></td>
                                    <td id="stoptimeSchlatter4"></td>
                                    <td id="stopsSchlatter4"></td>
                                    <td id="velSchlatter4"></td>
                                    <td id="hitsSchlatter4"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Schlatter 5</th>
                                    <td id="starttimeSchlatter5"></td>
                                    <td id="stoptimeSchlatter5"></td>
                                    <td id="stopsSchlatter5"></td>
                                    <td id="velSchlatter5"></td>
                                    <td id="hitsSchlatter5"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Schlatter 7</th>
                                    <td id="starttimeSchlatter7"></td>
                                    <td id="stoptimeSchlatter7"></td>
                                    <td id="stopsSchlatter7"></td>
                                    <td id="velSchlatter7"></td>
                                    <td id="hitsSchlatter7"></td>
                                </tr>                                                                                                
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                {% endblock %}
              </div>
              <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6 text-center text-md-left text-primary">
                      <p class="mb-2 mb-md-0">Armasel SA. de CV.&copy; 2019, Todos los derechos reservados</p>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </div>
        <!-- JavaScript files-->
        <script src= "{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/popper.js/umd/popper.min.js') }}"> </script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/jquery.cookie/jquery.cookie.js') }}"> </script>
        <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="{{ url_for('static', filename='js/front.js') }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> 
        <!-- JavaScript code for autoupdating data every 1.5 seconds-->
        {% block script %}
        <script type="text/javascript" charset="utf-8">
          var socket = io.connect('http://' + document.domain + ':' + location.port);
          socket.on('connect', function() {
            setInterval(update, 1500);
          });
            function update(){
              socket.emit('getData');
          }
          socket.on('new_data', function(new_data) {
            var json = JSON.parse(new_data);
            // MG320 data update
            document.querySelector('#starttimeMG320').innerHTML = json['MG320']['start_time'];
            document.querySelector('#stoptimeMG320').innerHTML = json['MG320']['stop_time'];
            document.querySelector('#stopsMG320').innerHTML = json['MG320']['stops'];
            document.querySelector('#velMG320').innerHTML = json['MG320']['velocity'];
            document.querySelector('#hitsMG320').innerHTML = json['MG320']['hits'];
            // PG12 data update
            document.querySelector('#starttimePG12').innerHTML = json['PG12']['start_time'];
            document.querySelector('#stoptimePG12').innerHTML = json['PG12']['stop_time'];
            document.querySelector('#stopsPG12').innerHTML = json['PG12']['stops'];
            document.querySelector('#velPG12').innerHTML = json['PG12']['velocity'];
            document.querySelector('#hitsPG12').innerHTML = json['PG12']['hits'];
            // Jager data update
            document.querySelector('#starttimeJager').innerHTML = json['Jager']['start_time'];
            document.querySelector('#stoptimeJager').innerHTML = json['Jager']['stop_time'];
            document.querySelector('#stopsJager').innerHTML = json['Jager']['stops'];
            document.querySelector('#velJager').innerHTML = json['Jager']['velocity'];
            document.querySelector('#hitsJager').innerHTML = json['Jager']['hits'];
            // Schlatter 1 data update
            document.querySelector('#starttimeSchlatter1').innerHTML = json['Schlatter1']['start_time'];
            document.querySelector('#stoptimeSchlatter1').innerHTML = json['Schlatter1']['stop_time'];
            document.querySelector('#stopsSchlatter1').innerHTML = json['Schlatter1']['stops'];
            document.querySelector('#velSchlatter1').innerHTML = json['Schlatter1']['velocity'];
            document.querySelector('#hitsSchlatter1').innerHTML = json['Schlatter1']['hits'];
            // Schlatter 4 data update
            document.querySelector('#starttimeSchlatter4').innerHTML = json['Schlatter4']['start_time'];
            document.querySelector('#stoptimeSchlatter4').innerHTML = json['Schlatter4']['stop_time'];
            document.querySelector('#stopsSchlatter4').innerHTML = json['Schlatter4']['stops'];
            document.querySelector('#velSchlatter4').innerHTML = json['Schlatter4']['velocity'];
            document.querySelector('#hitsSchlatter4').innerHTML = json['Schlatter4']['hits'];
            // Schlatter 5 data update
            document.querySelector('#starttimeSchlatter5').innerHTML = json['Schlatter5']['start_time'];
            document.querySelector('#stoptimeSchlatter5').innerHTML = json['Schlatter5']['stop_time'];
            document.querySelector('#stopsSchlatter5').innerHTML = json['Schlatter5']['stops'];
            document.querySelector('#velSchlatter5').innerHTML = json['Schlatter5']['velocity'];
            document.querySelector('#hitsSchlatter5').innerHTML = json['Schlatter5']['hits'];
            // Schlatter 7 data update
            document.querySelector('#starttimeSchlatter7').innerHTML = json['Schlatter7']['start_time'];
            document.querySelector('#stoptimeSchlatter7').innerHTML = json['Schlatter7']['stop_time'];
            document.querySelector('#stopsSchlatter7').innerHTML = json['Schlatter7']['stops'];
            document.querySelector('#velSchlatter7').innerHTML = json['Schlatter7']['velocity'];
            document.querySelector('#hitsSchlatter7').innerHTML = json['Schlatter7']['hits'];                        
          });
      </script>
      {% endblock %}    
    </body>
</html>
