{% extends "home.html" %}

{% block body %}
<!-- Table -->
<section class="py-5">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card" style="width:1065px">
        <div class="card-header">
          <h6 class="text-uppercase mb-0">
            <center>Producción por turno</center>
          </h6>
        </div>
        <div class="card-body">
          <table id="myTable" class="table card-text" style="width: 1000px;">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Turno</th>
                <th>Máquina</th>
                <th>Hora de inicio</th>
                <th>Tiempo en paro</th>
                <th>Número de paros</th>
                <th>Golpes</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script %}
<!-- JavaScript code that request data once the page is loaded-->
<script type="text/javascript" charset="utf-8">
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  socket.on('connect', function() {
    socket.emit('get annual production');
  });
  socket.on('annual production', function(new_data) {
    socket.close();
    var table = document.getElementById("myTable");
    var json = JSON.parse(new_data);
    for(var k in json) {
      var row = table.insertRow(-1);
      var cell;
      cell = row.insertCell(-1);
      cell.innerHTML = json[k]["date"];
      cell = row.insertCell(-1);
      cell.innerHTML = json[k]["shift"];
      cell = row.insertCell(-1);
      cell.innerHTML = json[k]["machine"];
      cell = row.insertCell(-1);
      cell.innerHTML = json[k]["start_hour"];
      cell = row.insertCell(-1);
      cell.innerHTML = json[k]["stop_time"];
      cell = row.insertCell(-1);
      cell.innerHTML = json[k]["stops"];
      cell = row.insertCell(-1);
      cell.innerHTML = json[k]["hits"];
    }
  });
</script>
{% endblock %}
