bcrypt==3.1.6
cffi==1.11.5
Click==7.0
dnspython==1.16.0
eventlet==0.24.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Excel==0.0.7
Flask-Login==0.4.1
Flask-SocketIO==3.2.1
Flask-SQLAlchemy==2.3.2
greenlet==0.4.15
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
lml==0.0.9
MarkupSafe==1.1.0
monotonic==1.5
psutil==5.5.0
psycopg2==2.7.7
psycopg2-binary==2.7.7
pycparser==2.19
pyexcel==0.5.12
pyexcel-io==0.5.14
pyexcel-webio==0.1.4
python-engineio==3.3.0
python-snap7==0.10
python-socketio==3.1.1
six==1.12.0
SQLAlchemy==1.2.17
texttable==1.6.1
Werkzeug==0.14.1
