<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Armasel: Iniciar sesión</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleForm.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/Armasel_icon.jpg') }}" type="image/x-icon" />
        
    </head>    
    <body>
        {% if error %}
            <p><strong>Error:</strong> {{ error }}
        {% endif %}
        <div id="formBlock">
            <div class="logo"><img src="{{ url_for('static', filename='images/Armasel_logo.jpg') }}"></div>
            <label id="label1">Inicia sesión para poder acceder a la información de producción en planta Tepetates</label>
            <form id="formData" action="{{ url_for('login') }}" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" name="email1" aria-describedby="emailHelp" placeholder="Correo electrónico">
                    <small id="emailHelp" class="form-text text-muted">No vamos a compartir tu información con nadie más</small>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password1" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
    </div>
    </body> 
</html>