<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <title>Producción planta Tepetates</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleHome.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/Armasel_icon.jpg') }}" type="image/x-icon" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand">
                    <img src="{{ url_for('static', filename='images/Armasel_icon.jpg') }}" width="38" height="60" class="d-inline-block align-middle" alt="" >
                    <font color="white">Armasel planta Tepetates</font>
                </a>
                <button onclick="window.location.href='/logout'" type="button" class="btn btn-outline-primary">Cerrar sesión</button>
            </nav>
        </header>
        <table>
    </body>
</html>
