<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <title>Producción planta Tepetates</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleHome.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/Armasel_icon.jpg') }}" type="image/x-icon" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand">
                    <img src="{{ url_for('static', filename='images/Armasel_icon.jpg') }}" width="38" height="60" class="d-inline-block align-middle" alt="" >
                    <font color="red">Armasel: producción en tiempo real</font>
                </a>
            </nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </header>
        <table>
            <!-- <tr>
                <th>id_maquina</th>
                <th>inicio</th>
                <th>tiempo_paro</th>
                <th>paros</th>
                <th>velocidad</th>
                <th>golpes</th>
            </tr>
            <tr>
                <td>Schlatter 7</td>
                <td>7:30</td>
                <td>5:26:00</td>
                <td>5</td>
                <td>87</td>
                <td>356</td>
            </tr>
            <tr>
                    <td>Jager</td>
                    <td>8:30</td>
                    <td>1:25:00</td>
                    <td>8</td>
                    <td>96</td>
                    <td>150</td>
            </tr>
            <tr>
                    <td>MG320</td>
                    <td>7:30</td>
                    <td>1:13:52</td>
                    <td>3</td>
                    <td>105</td>
                    <td>1503</td>
            </tr>
        </table> -->
    </body>
</html>
